<launch>

    <!--   reads and parses imu data from serial port and publishes to /imu -->
    <node name="imu" pkg="Augbot" type="imu" output="screen">
    <param name="port" value="/dev/ttyACM0" /> 
    </node>

    <!--   estimates position of alphabot2 with deadReckoning (listens to /imu and publishes to /deadReckoning)   -->
   <node name="deadReckoning" pkg="Augbot" type="deadReckoning" output="screen"></node>

</launch>