<launch>
    <!--   estimates position of alphabot2 with deadReckoning (listens to /imu and publishes to /deadReckoning)   -->
    <node name="deadReckoning" pkg="Augbot" type="deadReckoning" output="screen"></node>

    <!--   subscribes 'localization' chatter, transform data and publishes 'least_squares' chatter -->
    <node pkg="Augbot" name="least_squares" type="least_squares.py" output="screen"/>


    <node name="writeRosbag" pkg="Augbot" type="writeRosbag.py" output="screen">
        <rosparam command="load" file="$(find Augbot)/config/writeRosbag_params.yaml" />
    </node>
</launch>