<launch>

    <node name="uwb_simulation" pkg="Augbot" type="uwb_simulation.py" output="screen">
      <rosparam command="load" file="$(find Augbot)/config/uwb_simulation_params.yaml" />
    </node>
    
    <node name="mqttListener" pkg="Augbot" type="mqttListener.py" output="screen">
      <param name="subset" value="anchorConfig" /> 
      <rosparam command="load" file="$(find Augbot)/config/mqttListener_params.yaml" />
    </node>

</launch>
